<!DOCTYPE html>
<html ng-app="cast">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fedrcast</title>

    <!-- #build:css styles/vendor.css -->
    <!-- #bower:css -->
    <!-- #endbower -->
    <!-- #endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/icons/favicon-196.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/images/icons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/icons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16.png">
    <!-- ****** faviconit.com favicons ****** -->
</head>
<body ng-controller="main">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-film"></span> fedrcast</a>
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchText">
                </div>
            </form>
            <form class="navbar-form navbar-right">
                <label for="autoplay" class="control-label">Autoplay <input type="checkbox" class="form-control" ng-model="$localStorage.autoplay" id="autoplay"></label>
            </form>
        </div>
    </nav>
    <main class="container">
        <div class="cast-player">
            <h1>{{ currentVideo.name }}</h1>

            <div class="video-wrapper" ng-show="!play.remote && currentVideo">
                <video id="localVideo">
                    <track ng-repeat="subtitle in subtitles" ng-src="{{ subtitle.src }}" label="{{ subtitle.name }}" kind="subtitles">
                </video>
            </div>
            <div class="input-group" ng-class="{'video-active': !play.remote}">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="doTogglePlay()">
                        <span class="glyphicon glyphicon-play" ng-if="!play.playing"></span>
                        <span class="glyphicon glyphicon-pause" ng-if="play.playing"></span>
                    </button>
                </span>
                <input type="range" class="form-control cast-position" ng-model="play.currentTime" max="{{ play.length }}" ng-change="doSeek()">
                <span class="input-group-addon">{{ play.currentTime | mins }} / {{ play.length | mins }}</span>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="doToggleCast()" ng-if="play.remoteAvailable">
                        <span class="cast-off" ng-if="!play.remote"></span>
                        <span class="cast-pending" ng-if="play.remote == 'pending'"></span>
                        <span class="cast-on" ng-if="play.remote === true"></span>
                    </button>
                    <button class="btn btn-default" ng-click="doToggleFullscreen()" ng-if="!play.remote">
                        <span class="glyphicon glyphicon-fullscreen"></span>
                    </button>
                    <span class="dropdown">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-volume-up"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <input type="range" class="form-control cast-volume" ng-model="play.volume" max="100" ng-change="doVolume()">
                            </li>
                        </ul>
                    </span>
                    <span class="dropdown">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-subtitles"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li ng-repeat="subtitle in subtitles">
                                <a ng-click="doChooseSubtitle($index)">{{ subtitle.name }} <span class="glyphicon glyphicon-pushpin" ng-if="$index == currentSubtitleIdx"></span></a>
                            </li>
                        </ul>
                    </span>
                </span>
            </div>
        </div>
        <div>
            <h1>Videos <span ng-click="doLoadVideos()" class="pull-right glyphicon glyphicon-refresh"></span></h1>

            <div class="list-group">
                <a href="#" class="list-group-item" ng-class="{active: currentVideo.src == video.src}" ng-repeat="video in videos | filter:searchText" ng-click="doChooseVideo(video)">
                    {{ video.name }}
                    <span class="badge" ng-show="$localStorage[video.src]">Watched</span>
                </a>
            </div>
        </div>
    </main>

    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js" async></script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/cast.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/filters/mins.js"></script>
    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
