<!DOCTYPE html>
<html ng-app="cast">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fedrcast</title>

    <!-- #build:css styles/vendor.css -->
    <!-- #bower:css -->
    <!-- #endbower -->
    <!-- #endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-controller="main">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-film"></span> fedrcast</a>
        </div>
    </div>
</nav>
<main class="container">
    <div class="cast-player">
        <h1>{{ currentVideo.name }}</h1>

        <div class="video-wrapper" ng-show="!play.remote">
            <video id="localVideo"></video>
        </div>
        <div class="input-group" ng-class="{'video-active': !play.remote}">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="doTogglePlay()">
                <span class="glyphicon glyphicon-play" ng-if="!play.playing"></span>
                <span class="glyphicon glyphicon-pause" ng-if="play.playing"></span>
            </button>
          </span>
            <input type="range" class="form-control cast-position" ng-model="play.currentTime" max="{{ play.length }}"
                   ng-change="doSeek()">
            <span class="input-group-addon">{{ play.currentTime | mins }} / {{ play.length | mins }}</span>
          <span class="input-group-btn">
            <ul class="dropdown-menu pull-right">
                <li><input type="range" class="form-control cast-volume" ng-model="play.volume" max="100"
                           ng-change="doVolume()"></li>
            </ul>
            <button class="btn btn-default" ng-click="doToggleCast()" ng-if="play.remoteAvailable">
                <span class="cast-off" ng-if="!play.remote"></span>
                <span class="cast-pending" ng-if="play.remote == 'pending'"></span>
                <span class="cast-on" ng-if="play.remote === true"></span>
            </button>
            <button class="btn btn-default" ng-click="doToggleFullscreen()" ng-if="!play.remote">
                <span class="glyphicon glyphicon-fullscreen"></span>
            </button>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-volume-up"></span>
            </button>
          </span>
        </div>
    </div>
    <div>
        <h1>Videos <span ng-click="doLoadVideos()" class="pull-right glyphicon glyphicon-refresh"></span></h1>

        <div class="list-group">
            <a href="#" class="list-group-item" ng-class="{active: currentVideo == video}" ng-repeat="video in videos"
               ng-click="doChooseVideo(video)">
                {{video.name}}
            </a>
        </div>
    </div>
</main>
<script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js" async></script>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/cast.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/filters/mins.js"></script>

<!-- inject:partials -->
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
