@import '../bower_components/bootstrap/less/bootstrap';

body {
  padding-top: 70px;
}

.cast-player video {
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #ccc;
  border-bottom: 0;
  display: block;
}

.form-control.cast-position {
  width: 80%;
}

.form-control.cast-volume {
  width: 20%;
}
